.header
  .header-inner
    %a.header-partition{href:'/'}
      %h1 Dossier
    .header-partition
      - if session[:fb_login]
        .fb-sign-out
          Log Out
      - else
        .fb-sign-in
          Log In
    .header-partition
      .linked-sign-in
        Log In
        %script{type:"IN/login", 'data-onAuth' => "getInConnections"}
      .linked-sign-out.hidden
        Log Out

.container
  .sub-header
    - if @events

      %select.events-selector
        %option Events you're going to!
        - @events.each do |event|
          %option{:value => event["id"]}
            = "#{event['start_time'].to_datetime.strftime("%B %d, %Y")}  |  #{event['name']}"

      %select.change-rsvp-selector
        %option{:value => nil} RSVP
        %option{:value => "attending"} Going
        %option{:value => "declined"} Not-Going
        %option{:value => "maybe"} Maybe

      %br
      %br

    - if @events_invited || @events_maybe

      %select.events-invited-selector
        %option Events you're not attending
        - @events_invited.each do |event|
          %option{:value => event["id"]}
            = "#{event["start_time"].to_datetime.strftime("%B %d, %Y")}  |  #{event["name"]}"

        - @events_maybe.each do |event|
          %option{:value => event["id"]}
            = "#{event["start_time"].to_datetime.strftime("%B %d, %Y")}  |  #{event["name"]}"

      %select.set-rsvp-selector
        %option RSVP
        %option{:value => "attending"} Going
        %option{:value => "declined"} Not-Going
        %option{:value => "maybe"} Maybe

  #InConnections
  .event-container
