%h1 Dossier up in here

- if session[:fb_login]
  = "Welcome #{current_user.first_name} #{current_user.last_name}!"
  .fb-sign-out
    %a{href:'/signout'} Sign out of facebook
- else
  .fb-sign-in
    %a{href:'#'} Sign in with Facebook

- if @events
  %select{:class => "events-selector"}
    %option{:label => "Choose an event you're attending"}
    - @events.each do |event|
      %option{:option => event["name"], :value => event["id"], :label => "#{event["start_time"].to_datetime.strftime("%B %d, %Y")}  |  #{event["name"]}", :id => event["id"]}

  %select{:class => "change-rsvp-selector"}
    %option{:label => "Change your RSVP Status"}
    %option{:label => "Going", :value => "attending"}
    %option{:label => "Not-Going", :value => "declined"}
    %option{:label => "Maybe", :value => "maybe"}


- if @events_invited
  %select{:class => "events-invited-selector"}
    %option{:label => "RSVP to an Event"}
    - @events_invited.each do |event|
      %option{:option => event["name"], :value => event["id"], :label => "#{event["start_time"].to_datetime.strftime("%B %d, %Y")}  |  #{event["name"]}", :id => event["id"]}
      - @events_maybe.each do |event|
        %option{:option => event["name"], :value => event["id"], :label => "#{event["start_time"].to_datetime.strftime("%B %d, %Y")}  |  #{event["name"]}", :id => event["id"]}

  %select{:class => "set-rsvp-selector"}
    %option{:label => "Change your RSVP Status"}
    %option{:label => "Going", :value => "attending"}
    %option{:label => "Not-Going", :value => "declined"}
    %option{:label => "Maybe", :value => "maybe"}


.event-container